<!-- app.component.html -->

<div class="container">
    <h1>
        FORMULARIO ACTUALIZACIÓN DE DATOS
    </h1>
    <form [formGroup]="angForm" novalidate>
        <div class="form-group">
            <label>CI:</label>
            <input class="form-control" formControlName="ci" type="text" minlength="7" maxlength="8" ngModel
                pattern="[0-9]*">
        </div>

        <div class="error" *ngIf="angForm.controls['ci'].invalid && (angForm.controls['ci'].dirty || 
            angForm.controls['ci'].touched)">
            <div [hidden]="!angForm.controls['ci'].errors.required">
                CI no puede estar vacía.
            </div>
            <div [hidden]="!angForm.controls['ci'].errors.minlength">
                Largo mínimo de 7 caracteres.
            </div>
            <div [hidden]="!angForm.controls['ci'].errors.pattern">
                Solo se permiten números.
            </div>
        </div>

        <div class="form-group">
            <label>Nombre:</label>
            <input class="form-control" formControlName="name" type="text">
        </div>

        <div class="error"
            *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)">
            <div [hidden]="!angForm.controls['name'].errors.required">
                Nombre no puede estar vacío.
            </div>
        </div>


        <div class="form-group">
            <label>Fecha Nacimiento:</label>
            <input class="form-control" formControlName="fchNac" max="{{date | date:'yyyy-MM-dd'}}" type="date">
        </div>

        <div class="error" *ngIf="angForm.controls['fchNac'].invalid && (angForm.controls['fchNac'].dirty 
            || angForm.controls['fchNac'].touched)">
            <div [hidden]="!angForm.controls['fchNac'].errors.required">
                Fecha de nacimiento no puede estar vacía.
            </div>
        </div>

        <div class="form-group">
            <label>Carne de salud: </label>
            <select #carne class="form-control" formControlName="carne" name="carne" (change)="onSelected(carne.value)">
                <option default value="no">No</option>
                <option value="si">Si</option>
            </select>
        </div>
        <div class="error" *ngIf="angForm.controls['carne'].invalid && (angForm.controls['carne'].dirty 
            || angForm.controls['carne'].touched)">
            <div [hidden]="!angForm.controls['carne'].errors.required">
                Fecha de nacimiento no puede estar vacía.
            </div>
        </div>


        <div *ngIf="!escondido" class="form-group">
            <label>Fecha Vencimiento:</label>
            <input class="form-control" formControlName="fchVen" min="{{date | date:'yyyy-MM-dd'}}" type="date">
        </div>

        <div class="error" *ngIf="!escondido && angForm.controls['fchVen'].invalid && (angForm.controls['fchVen'].dirty 
            || angForm.controls['fchVen'].touched)">
            <div [hidden]="!angForm.controls['fchVen'].errors.required">
                Fecha de vencimiento no puede estar vacía.
            </div>
        </div>

        <div *ngIf="!escondido" class="form-group">
            <label>Comprobante:</label>
            <input class="form-control" formControlName="comprobante" type="file" accept="image/jpeg, application/pdf">
        </div>

        <div class="error" *ngIf="!escondido && angForm.controls['comprobante'].invalid && (angForm.controls['comprobante'].dirty || 
            angForm.controls['comprobante'].touched)">
            <div [hidden]="!angForm.controls['comprobante'].errors.required">
                Comprobante no puede estar vacío.
            </div>
        </div>
        <br>
        <div id="botones">
            <button type="submit" class="btn btn-secondary" (click)="volver()">
                Volver
            </button>
            <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary"
                (click)="enviarFormulario()">
                Guardar
            </button>
        </div>




    </form>

</div>