<div class="container">
    <h1>
        LISTADO GENTE
    </h1>
    <form novalidate>
        <div class="form-group">
            <label>Personas que no cargaron su comprobante:</label>
            <div>
                <!-- <textarea hidden=true [(ngModel)]="email" id="email" [ngModelOptions]="{standalone: true}" readonly
                    rows="10" cols="1"></textarea> -->
                <textarea id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" readonly rows="10"
                    cols="1"></textarea>
                <textarea [(ngModel)]="datos" [ngModelOptions]="{standalone: true}" readonly rows="10"
                    cols="1"></textarea>
            </div>
        </div>
        <br>
        <div class="form-group" *ngIf="personas.length>0">
            <label>Actualizado el {{date}}</label>
        </div>
        <br>
        <div class="botones">
            <button type="submit" (click)="copiarTexto($event)" class="btn btn-success">
                Copiar
            </button>
            <button type="submit" class="btn btn-success">
                Buscar
            </button>
        </div>
    </form>
</div>