<div class="container">
    <h1>
        LISTADO GENTE
    </h1>
    <form [formGroup]="angForm" novalidate>
        <div class="form-group">
            <label>Personas que no cargaron su comprobante:</label>
            <div>
                <textarea [(ngModel)]="email" readonly cols="1"></textarea>
                <textarea [(ngModel)]="datos" readonly cols="1"></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Actualizado el {{date}}</label>
        </div>
        <br>
        <div class="botones">
            <button type="submit" class="btn btn-success">
                Copiar
            </button>
            <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
                Buscar
            </button>
        </div>
    </form>
</div>