<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">FORMULARIO</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Para completar o actualizar el formulario de datos.</p>
                    <a (click)="formulario()" class="btn btn-primary">Actualizar Formulario</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">AGENDA</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Para sacar fecha para hacer el carnet de salud.</p>
                    <a href="/sacarfecha" class="btn btn-primary">Sacar fecha</a>
                </div>
            </div>
        </div>
        <div *ngIf="esAdmin()" class="containeradmin" >
                <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">PERÍODO</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Para actualizar el período del formulario de actualización.</p>
                        <a href="/periodo" class="btn btn-primary">Actualizar periodo</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">LISTAR</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Para listar las personas que no actualizaron su formulario.</p>
                        <a href="/listado" class="btn btn-primary">Listar personas</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>